h1 {
  color: #FF9133;
  background-color: #935398;
  text-align: center;
}
h2 {
  color: #3A8946;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ol{
  line-height: 50px;
}
strong{font-style: oblique;
}
